* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #282828;
}

.app {
  background-color: #fafafa;
}

.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.form-group label {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 500px;
  font-size: 1.25rem;
  padding: 4px;
}

.form-group input[type="submit"] {
  font-size: 1.25rem;
  padding: 2px 8px;
  cursor: pointer;
}

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
